$small: 720px;
$medium: 1200px;

.wrapper {
  .container {
    position: relative;
    margin: 0 auto;
    z-index: 5;
    width: 60%;
    @media screen and (max-width: $medium) {
      width: 100%;
    }

    .lines {
      top: 0;
      position: absolute;
      z-index: 10;
      display: flex;
      height: 100%;
      width: 100%;
      .col {
        flex: 0 1 100%;
        border: solid 1px #ffffff10;
        border-top-style: none !important;
        border-bottom-style: none !important;
      }

      // .col1 {
      //   // border-right-style: none;
      // }

      .col2 {
        // border-right-style: none;

        @media screen and (max-width: $small) {
          display: none;
        }
      }

      // .col3 {
      // }
    }
  }
}
